.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 6px 0px;
    background: rgb(255, 255, 255);
    transition: box-shadow 0.2s ease 0s, transform 0.2s ease 0s;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transition-property: box-shadow, transform;
    outline: none;
    margin: 2rem 0.75rem;
    position: relative;
    white-space: break-spaces;
    max-width: 30rem;
    min-width: 10rem;
    min-height: 5rem;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90vw;
        margin: 1rem 0.2rem;
    }
}

.card:hover {
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 40px 0px;
    transform: translateY(-4px);
    cursor: default;
}

.fadeOut {
    animation: fadeOut 0.9s;
}

.transformPending {
    animation: changeStatus 0.8s;
}

.status {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
    display: block;
    width: 100%;
    overflow-y: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cardDescription {
    margin-bottom: 1rem;
}

.closed {
    background-color: darkred
}

.pending {
    background-color: goldenrod;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.pendingButton {
    width: 6rem;
    margin-right: auto;
    color: goldenrod;
}

.pendingButton:hover {
    cursor: pointer;
}

.exitButton {
    justify-content: space-between;
    color: red;
}

.exitButton:hover {
    cursor: pointer;
}

.opened {
    background-color: green;
}

@keyframes changeStatus {
    0% {
        background-color: green;
    }

    100% {
        background-color: goldenrod;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}